@import '../../variables.styles.scss';

.button-container {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: $color1;
    color: $color4;
    text-transform: uppercase;
    font-family: $appFontFamily;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  
    &:hover {
      background-color: $color3;
      color: $color5;
      border: 1px solid $color2;
    }
  
    &.google-sign-in {
      background-color: $color5;
      color: $color1;
  
      &:hover {
        background-color: $color4;
        color: $color2;
        border: none;
      }
    }
  
    &.inverted {
      background-color: white;
      color: $color2;
      border: 1px solid $color2;
  
      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }
  }
  