@import "variables.styles";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $appFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $codeFontFamily;
}

a {
  text-decoration: none;
  color: $color1;

  &:hover {
    color: $color5;
  }
}