@import "variables.styles";

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

body {
  margin: 0;
  padding: 20px 40px;
  font-family: $appFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $codeFontFamily;
}

a {
  text-decoration: none;
  color: $color1;

  &:hover {
    color: $color5;
  }
}